/**
 * LunchMonkey.scss
 * Core LunchMonkey css.
 */

:root {
  /* Color styles */
  --primary: rgba(156, 65, 62, 1);
  --on-primary: rgba(255, 255, 255, 1);
  --secondary: rgba(119, 86, 84, 1);
  --on-secondary: rgba(255, 255, 255, 1);
  --error: rgba(255, 84, 73, 1);
  --on-error: rgba(255, 255, 255, 1);
  --warning: rgba(182, 120, 26, 1);
  --on-warning: rgba(255, 255, 255, 1);
  --notification: rgba(0, 167, 201, 1);
  --on-notification: rgba(255, 255, 255, 1);
  --surface-10: rgba(70, 51, 44, 1);
  --on-surface-10: rgba(255, 255, 255, 1);
  --on-surface-10-dim: rgba(153, 153, 153, 1);
  --surface-20: rgba(123, 99, 90, 1);
  --on-surface-20: rgba(255, 255, 255, 1);
  --on-surface-20-dim: rgba(153, 153, 153, 1);
  --surface-30: rgba(161, 134, 123, 1);
  --on-surface-30: rgba(243, 240, 238, 1);
  --on-surface-30-dim: rgba(89, 89, 89, 1);
  --surface-40: rgba(198, 167, 155, 1);
  --on-surface-40: rgba(73, 30, 29, 1);
  --on-surface-40-dim: rgba(115, 115, 115, 1);
  --surface-50: rgba(233, 199, 185, 1);
  --on-surface-50: rgba(70, 51, 44, 1);
  --on-surface-50-dim: rgba(204, 147, 126, 1);
  --surface-60: rgba(255, 223, 209, 1);
  --on-surface-60: rgba(70, 51, 44, 1);
  --on-surface-60-dim: rgba(204, 147, 126, 1);
  --surface-70: rgba(255, 230, 219, 1);
  --on-surface-70: rgba(70, 51, 44, 1);
  --on-surface-70-dim: rgba(204, 147, 126, 1);
  --surface-80: rgba(255, 237, 230, 1);
  --on-surface-80: rgba(70, 51, 44, 1);
  --on-surface-80-dim: rgba(204, 147, 126, 1);
  --surface-90: rgba(255, 244, 239, 1);
  --on-surface-90: rgba(70, 51, 44, 1);
  --on-surface-90-dim: rgba(204, 147, 126, 1);
  --surface-100: rgba(255, 252, 250, 1);
  --on-surface-100: rgba(70, 51, 44, 1);
  --on-surface-100-dim: rgba(204, 147, 126, 1);

  /* Text-size styles */
  --title: 48px;
  --subtitle: 32px;
  --heading: 24px;
  --label: 24px;
  --body: 16px;
  --button: 14px;
  --small: 12px;
  --wallet: 16px;
}

.avatar-container {
  min-width: fit-content;
  max-width: fit-content;
}

.avatar {
  background-color: var(--surface-30) !important;
  object-fit: contain;
  width: 64px;
  height: 64px;
  border: 2px solid var(--primary);
  border-radius: 100%;
  filter: drop-shadow(0px 4px 4px #00000040);
  z-index: auto;
}

.banner .avatar {
  object-fit: contain;
  max-height: 4rem;
  filter: drop-shadow(0px 4px 4px #00000040);
}

.banner .monkey-head {
  object-fit: contain;
  max-height: 4rem;
  filter: drop-shadow(0px 4px 4px #00000040);
}

body {
  background-color: var(--surface-50);
  color: var(--on-surface-50);
}

.btn {
  font-weight: bold;
  font-size: var(--button);
}

.btn-primary svg path {
  fill: var(--on-primary);
}

.btn-secondary svg path {
  fill: var(--on-secondary);
}

button svg {
  width: 1.25em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5em;
}

button[valid="false"].wallet {
  filter: brightness(0.5);
}

.disclaimer {
  font-size: var(--small);
  color: var(--on-surface-50-dim);
}

#errorDialog .lm-modal-body {
  background-color: var(--error);
  color: var(--on-error);
}

form {
  background-color: var(--surface-40);
  border-radius: 16px;
}

form label {
  color: var(--on-surface-40);
  font-size: var(--label);
  font-weight: 500;
}

.form-control {
  border-radius: 16px;
}

.h1 {
  padding-bottom: 0px;
  font-size: var(--heading);
}

#infoDialog .lm-modal-body {
  background-color: var(--notification);
  color: var(--on-notification);
}

.lm-modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: #00000080;
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.lm-modal-body {
  display: block;
  position: absolute;
  width: 75%;
  height: fit-content;
  background-color: var(--surface-50);
  padding: 2em;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#memberList .balanceCell {
  text-align: end;
}

#memberList .balanceCell.negative {
  color: red;
  font-weight: bold;
}

#memberList .balanceCell.positive {
  color: black;
  font-weight: bold;
}

#memberList .totalCell {
  text-align: end;
}

#memberList .userCell {
  font-weight: bold;
}

.monkey-head-container {
  min-width: fit-content;
  max-width: fit-content;
}

.monkey-head {
  object-fit: contain;
  max-height: 6rem;
  filter: drop-shadow(0px 4px 4px #00000040);
}

.page {
  width: 100%;
  position: relative;
}

.recent-wallet button {
  font-size: calc(var(--button) + 8px);
  font-weight: 600;
}

.row {
  /* Bootstrap sets these values to calc(0.5 * var(--bs-gutter-x))
     ... which is a nuisance.
   */
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.slogan {
  color: black;
  font-size: var(--subtitle);
}

.title {
  font-size: var(--title);
  color: black;
}

.user-details {
  font-size: var(--body);
  font-weight: bold;
}

.wallet-button {
  font-size: var(--wallet);
  font-weight: normal;
  padding: 1em;
}

.walletAvatarLine  {
  min-height: 64px;
}

.walletAvatarLine .avatar:hover {
  z-index: 100;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.walletChart {
  widht: 100%;
}

.walletDepositAmount {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 900;
  min-width: max-content;
  opacity: 0;
  text-shadow: 1px 1px 2px black;
}

#withdrawForm {
  background-color: var(--surface-20);
}

#withdrawForm label {
  color: var(--on-surface-20);
}
