/**
 * LunchMonkey-Bootstrap.scss
 * Defines tweaks to bootstrap-5.
 */

$primary: #9C413E;
$secondary: #775654;
$danger: #FF5449;
$warning: #B6781A;
$info: #00A7C9;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "warning": $warning,
  "info": $info
);

@import "../bootstrap-5/scss/bootstrap";
